<!DOCTYPE html>
<html lang="Ru">
    <head>
        <meta charset="UTF-8">
        <title>Администратор</title>
                
        <script>
            //Добавление нового маршрута            
            function postResult() 
            {         
                var xhr = new XMLHttpRequest();                
                var body = 'route_out=' + encodeURIComponent(route_out) + '&route_to=' + encodeURIComponent(route_to) + '&departure_time=' + encodeURIComponent(departure_time) + '&ticket_price=' + encodeURIComponent(ticket_price) + '&route_number=' + encodeURIComponent(route_number);                
                xhr.open("POST", '/add_new_route', true);                
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);                
                xmlhttp.onreadystatechange = function () { 
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
                        openJSON3(xmlhttp.responseText); 
                    }
                }   
            }

            //Удаление маршщрута
            function delete() 
            {        
                var xhr = new XMLHttpRequest();
                var body = 'delete_route_number=' + encodeURIComponent(delete_route_number);
                xhr.open("POST", '/delete_route', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);                
                xmlhttp.onreadystatechange = function () 
                { 
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    { 
                        openJSON3(xmlhttp.responseText); 
                    }
                }
            }

            //Показать определенный маршрут по городу
            function showcitytoorfrom() 
            {  
                var xhr = new XMLHttpRequest();             
                var body = 'valueselect=' + encodeURIComponent(valueselect) + '&city_name=' + encodeURIComponent(city_name);
                xhr.open("POST", '/show_routes_out_or_to', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);                
                xmlhttp.onreadystatechange = function () 
                { 
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    { 
                        openJSON3(xmlhttp.responseText); 
                    }
                }                
            }


            //Показать пассажиров для определенного рейса
            function showclients() 
            {  
                var xhr = new XMLHttpRequest();             
                var body = 'valueselect=' + encodeURIComponent(valueselect);
                xhr.open("POST", '/show_clients', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);                
                xmlhttp.onreadystatechange = function () 
                { 
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    { 
                        openJSON3(xmlhttp.responseText); 
                    }
                }                
            }
        </script>  
    </head>   
    
    <body>
        <!-- Возвращаемся на страничку покупки билета -->
        <form action="/return_to_buy_page" method="post">
            <button type="submit">Вернуться к окну покупки</button>                
        </form>
        <br>

        <!-- Добавление нового маршрута от лица администрации -->
        <form name="admin" action="/add_new_route" method="POST">
            Добавление нового маршрута
            <br>
            <input type="text" name="route_out" required placeholder="Откуда" >
            <input placeholder="Куда" type="text" name="route_to" required>
            <input type="date" name="departure_time" required>
            <input placeholder="Цена" type="text" name="ticket_price" required>
            <input placeholder="Номер маршрута" type="text" name="route_number" required>

            <button type="submit" href="admin.ejs">Добавить маршрут</button>
        </form>
        </br><hr />

        <!-- Удаление маршрута -->        
        <form action="/delete_route" method="post">
            Удаление маршрута
            <br>
            <input placeholder="Номер маршрута" type="text" name="delete_route_number" required>

            <button type="submit">Удалить</button>
        </form>
        </br><hr />

        <!-- Информация об актуальных маршрутах -->        
        <form name="admin" action="/show_routes" method="get">
            <button type="submit">Показать маршруты</button> 
            <% if (locals.rows) { %>
            <table>
                <thead>
                    <th>Откуда</th><th>|</th><th>Куда</th><th>|</th><th>Цена</th><th>|</th><th>Номер маршрута</th><th>|</th><th>Дата</th>
                </thead>
                <tbody>
                    <% rows.forEach(function(item) { %>
                        <tr>
                            <td align="center"><%= item.route_out %></td><th>|</th><td align="center"><%= item.route_to %></td><th>|</th><td align="center"><%= item.ticket_price %></td><th>|</th><td align="center"><%= item.route_number %></td><th>|</th><td align="center"><%= item.departure_time %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } %>        
        </form> 
        <br><hr /> 

        <!-- Информация о пассажирах -->
        <form name="admin" action="/show_clients" method="post">
            <input type="text" name="num_route" required placeholder="Номер маршрута">
            <button type="submit">Показать пассажиров</button> 
            <% if (locals.rows) { %>
            <table>
                <thead>
                    <th>Номер паспорта</th><th>|</th><th>Имя</th><th>|</th><th>Фамилия</th><th>|</th><th>Отчество</th><th>|</th><th>Дата рождения</th><th>|</th><th>Номер места</th>
                </thead>
                <tbody>
                    <% rows.forEach(function(item) { %>
                        <tr>
                            <td align="center"><%= item.Num_pass %></td><th>|</th><td align="center"><%= item.Name_pass %></td><th>|</th><td align="center"><%= item.Surname %></td><th>|</th><td align="center"><%= item.Lastname %></td><th>|</th><td align="center"><%= item.Birthday %></td><th>|</th><td align="center"><%= item.Num_set %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } %>        
        </form>        
        <br><br><br><hr />

        <!-- Информация об актуальных маршрутах -->               
        <form name = "SetQuery" action="/show_routes_out_or_to" method="post">
            <!--Нашла инфу тут http://www.cyberforum.ru/javascript/thread96397.html -->

            Информация о маршруте по определенному городу
            <br>
            <script type="text/javascript">
                var TextForR = {'query_1' : 'out', 'query_2' : 'to'
            };

            function foo(r) {
                if (r && r.value && TextForR[r.value]) document.SetQuery.valueselect.value = TextForR[r.value];
            };
            </script>

            <input type="text" name="city_name" required placeholder="Город">
            <br>
            <input type="hidden" name="valueselect">  
            <br>              
            <input type = "radio" name = "query" value = "query_1" onclick="foo(this)">Из этого города
            <input type = "radio" name = "query" value = "query_2" onclick="foo(this)">В этот город
            <br>
            <br>
            <button id="one" type="submit">Показать маршруты</button> 

            <% if (locals.rows) { %>
            <table>
                <thead>
                    <th>Откуда</th><th>|</th><th>Куда</th><th>|</th><th>Цена</th><th>|</th><th>Номер маршрута</th><th>|</th><th>Дата</th>
                </thead>
                <tbody>
                    <% rows.forEach(function(item) { %>
                        <tr>
                            <td align="center"><%= item.route_out %></td><th>|</th><td align="center"><%= item.route_to %></td><th>|</th><td align="center"><%= item.ticket_price %></td><th>|</th><td align="center"><%= item.route_number %></td><th>|</th><td align="center"><%= item.departure_time %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } %>        
        </form> 
        <br>  
    </body>
</html>




  
    