<!DOCTYPE html>
<html lang="Ru">
    <head>
        <meta charset="UTF-8">
        <title>Сайт продажи билетов</title>

        <script>
            //Добавление нового маршрута            
            function postResult() 
            {         
                var xhr = new XMLHttpRequest();                
                var body = 'from_city=' + encodeURIComponent(from_city) + '&to_city=' + encodeURIComponent(to_city) + '&departure_time_pass=' + encodeURIComponent(departure_time_pass);                
                xhr.open("POST", '/show_routes_for_pass', true);                
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);                
                xmlhttp.onreadystatechange = function () { 
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
                        openJSON3(xmlhttp.responseText); 
                    }
                }   
            }

            //Покупка билета           
            function postResult() 
            {         
                var xhr = new XMLHttpRequest();                
                var body = 'num_pass=' + encodeURIComponent(num_pass) + '&name_pass=' + encodeURIComponent(name_pass) + '&surname=' + encodeURIComponent(surname) + '&lastname=' + encodeURIComponent(lastname) + '&departure_time=' + encodeURIComponent(departure_time) + '&num_route=' + encodeURIComponent(num_route) + '&num_set=' + encodeURIComponent(num_set);                
                xhr.open("POST", '/buy_ticket', true);                
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(body);                
                xmlhttp.onreadystatechange = function () { 
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
                        openJSON3(xmlhttp.responseText); 
                    }
                }   
            }
        </script>
    </head>
    <body>  
            <!-- Перейти к добавлению маршрутов -->        
            <form name="admin" action="/usertoadmin" method="POST">
                <button type="submit" href="usertoadmin.ejs">Администратор</button>
            </form>
            <br>

            <form name="admin" action="/buy_ticket" method="POST">
            Покупка билета
            <br>
                <input type="text" name="num_pass" required placeholder="Номер паспорта" >
                <input type="text" name="name_pass" required placeholder="Имя" >
                <input type="text" name="surname" required placeholder="Фамилия">
                <input type="text" name="lastname" required placeholder="Отчество" >
                <input type="date" name="departure_time" required>
                <input type="text" name="num_route" required placeholder="Номер маршрута">
                <input type="text" name="num_set" required placeholder="Номер места">

                <button type="submit" href="user.ejs">Купить</button>
            </form>
            </br>

            <!-- Информация об актуальных маршрутах -->        
            <form name="admin" action="/show_routes_for_pass" method="post">
                <input type="text" name="from_city" required placeholder="Откуда">
                <input type="text" name="to_city" required placeholder="Куда">
                <input type="date" name="departure_time_pass" required>
                <button type="submit">Показать маршруты</button> 
                <% if (locals.rows) { %>
                <table>
                    <thead>
                        <th>Откуда</th><th>|</th><th>Куда</th><th>|</th><th>Цена</th><th>|</th><th>Номер маршрута</th><th>|</th><th>Дата</th>
                    </thead>
                    <tbody>
                        <% rows.forEach(function(item) { %>
                            <tr>
                                <td align="center"><%= item.route_out %></td><th>|</th><td align="center"><%= item.route_to %></td><th>|</th><td align="center"><%= item.ticket_price %></td><th>|</th><td align="center"><%= item.route_number %></td><th>|</th><td align="center"><%= item.departure_time %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <% } %>        
            </form> 
            <br>
    </body>
</html>